  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 18px !important;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding: 5px;
    font-size: 16px;
  }
  .heading_div2
  {
    font-size: 14px !important ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 13px;

  }
  .result_para_tag span{
    white-space: pre-line;
  } 
  canvas{
    border: sandybrown 10px solid;
    box-shadow: -5px -5px 5px lightgreen ;
    margin-top: 110px;
  }
  .copy_right_footer{
    position: fixed;
    bottom: 0;
    background-color: navajowhite;
    width:100%;
    text-align: center;
    font-style: oblique;
    font-size: 16px;
    line-height: 2;
  }
 